/*First mobil*/

.appContainer{
  height: 100%;
  display: flex;
  justify-content: center;
  background-image: url('../images/fondoBlackWhite.jpg');
  background-size: contain;
}

.app{
  height: 100%;
  display: grid;
  grid-template-columns: minmax(50px, 50px) minmax(280px, 830px);
  max-width: 900px;
}

.navBar{
  height: 100%;

}

.components{
  height: 100%;
  background-color: black;
}

@media (min-width: 540px){
  .app{
    /* grid-template-columns: 40% 60%; */
  grid-template-columns: minmax(45px, 170px) minmax(310px, 830px);
    
    
  }
}

@media (min-width: 1500px){
  .appContainer{
    background-image: url('../images/fondoBlackWhiteXl.jpg');
     
  }
}