.appContainer{
  height: 100vh;
  display: flex;
  justify-content: center;
  /* background-image: url('../images/Fondo-Horizontal.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; */
}

.app{
  width: 1400px;
}

.section{
  width: 1400px;
  padding-left: 250px;
}

@media (max-width: 768px) {
    .appContainer{
      

    }
    
}

@media (min-width: 992px) {
  

}
