.appContainer{
  height: 100vh;
  display: flex;
  justify-content: center;
}

.app{
  width: 1400px;
  
}

.section{
  width: 1400px;
  padding-left: 250px;
}

@media (min-width: 768px) {
    
    
}

@media (min-width: 992px) {
  

}
