*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}


body {
  background-image: url('../images/Fondo-Horizontal.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media (max-width: 770px) {
  body {
    background-image: url('../images/Fondo-Vertical.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}

:root {
 
  color: rgb(248, 248, 248);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-decoration-primary: #04C4D9; 
  --color-decoration-secondary: #EC9B28;
  --color-bg-transparent: rgba(0, 0, 0, 0.5);
  --color-text: rgb(248, 248, 248);

  --font-text: "Poetsen One", sans-serif;
  --font-text2: "Sedan SC", serif;
}




